#header{
    margin-left: 5%;
    margin-right: 5%; 
    margin-top: 2%;
    margin-bottom: 2%;
    overflow:hidden;
}

#name{
    display: inline-block;
    color: rgb(0, 139, 245);
}

#buttons{
    display: flex;
    float: right;
    margin-right: 3%;
}

/* #buttons{
    display: inline-block;
    float:right;
} */

#createEventBtn{
    margin: 0px 10px;
    /* float: right; */
    /* margin-right: 3%; */
    padding: 8px 15px;
    background: white;
    color: rgb(0, 139, 245);
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid rgb(0, 139, 245);
    border-radius: 10px;
    outline: none;
}

#logout{
    /* float: right; */
    /* margin-right: 3%; */
    padding: 8px 15px;
    background: white;
    color: rgb(0, 139, 245);
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid rgb(0, 139, 245);
    border-radius: 10px;
    outline: none;
}

#createEventBtn:hover{
    color: white;
    background: rgb(0, 139, 245);
}

#logout:hover{
    color: white;
    background: rgb(0, 139, 245);
}

#eventsStatistics{
    display: inline-block;
    width: 50%;
    float: right;
    /* margin-right: 3%; */
    padding-top: 1%;
    text-align: center;
    /* padding-left: 3%;
    padding-right: 3%; */
    /* border: 1px solid; */
}


#studentsStatistics{
    display: inline-block;
    width: 50%;
    float: left;
    /* margin-left: 3%; */
    padding-top: 1%;
    text-align: center;
    /* padding-left: 3%;
    padding-right: 3%; */
    /* border: 1px solid; */
}


#eventsStatistics li{
    margin: 1%;
    padding: 1%;
    border: 1px solid rgb(0, 139, 245);
    border-radius: 2px;
    text-align: left;
}

#eventsStatistics li:hover{
    background: rgb(154, 206, 245);
    /*background: rgb(149, 163, 186);
    text-decoration: underline;
    color: white;*/
}


#studentsStatistics li{
    margin: 1%;
    padding: 1%;
    border: 1px solid rgb(0, 139, 245);
    border-radius: 2px;
    text-align: left;
}

#studentsStatistics li:hover{
    background: rgb(154, 206, 245);
    /*background: rgb(149, 163, 186);
    text-decoration: underline;
    color:white;*/
}

/* .event div{
    background: red;
}

.student div{
    background: red;
} */

.hidden_event, .hidden_student{
    display: none;
}


h3{
    color: rgb(0, 139, 245);
    float:left;
    display: inline-block;
}
.showEvents{
    float:right;
    display: inline-block;
    margin: 0px 10px;
    padding: 5px 10px;
    background: white;
    color: rgb(0, 139, 245);
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid rgb(0, 139, 245);
    border-radius: 10px;
    outline: none;
}

.showStudents{
    float:right;
    display: inline-block;
    margin: 0px 10px;
    padding: 5px 10px;
    background: white;
    color: rgb(0, 139, 245);
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid rgb(0, 139, 245);
    border-radius: 10px;
    outline: none;
}

.showEvents:hover, .showStudents:hover{
    color: white;
    background: rgb(0, 139, 245);
    outline: none;
}

.event{
    overflow: hidden;
}

.student{
    overflow: hidden;
}