#main{
    margin: 2% 20%;
    width: 60%;
    padding: 2rem;
    border: 4px solid green;
    border-radius: 10px;
    overflow: hidden;
}
img{
    margin: 3% 30%;
    width: 40%;
}
h2{
    text-align:center;
}

#btn1{
    margin-top: 3%;
    margin-left: 10%;
    padding: 1% 2%;
    display: inline;
    float: left;
    background: white;
    color: rgb(255, 138, 36);
    /* color: rgb(149, 163, 186); */
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid rgb(255, 138, 36);
    /* border: 2px solid rgb(149, 163, 186); */
    border-radius: 10px;
    outline: none;
}

#btn1:hover{
    color: white;
    background: rgb(255, 138, 36);
}
#btn2{
    margin-top: 3%;
    margin-right: 10%;
    padding: 1% 2%;
    display: inline;
    float: right;
    background: white;
    color: rgb(255, 138, 36);
    /* color: rgb(149, 163, 186); */
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid rgb(255, 138, 36);
    /* border: 2px solid rgb(149, 163, 186); */
    border-radius: 10px;
    outline: none;
}

#btn2:hover{
    color: white;
    background: rgb(255, 138, 36);
}