#nav_ul{
    /* list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.nav_li1{
    display: inline;
    float:left;
}

.nav_li2{
    display: inline;
    float:right;
}


.nav_li1 a, .nav_li2 a {
    /* display: block; */
    /* padding: 8px;
    background-color: #dddddd; */
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav_li1 a:hover, .nav_li2 a:hover {
    background-color: #111;
}